@import './styles/shared.lazy.scss';


.travis-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 100000;
  top: -240px;
  transition: all 0.3s ease-in-out;

  &.visible {
    top: 12px;
  }

  .travis-inner-container {
    padding: 12px 16px;
    max-width: 440px;
    background: white;
    box-shadow: 0 0 6px 0px #777;
    max-width: 440px;
    border-radius: 10px;
    position: relative;

    .travis-translation-container {

      .translated-from {
        font-size: 12px;
        text-align: center;
        color: #4a4a4a;
      }
      .translated-middle {
        font-size: 10px;
        text-align: center;
        padding: 4px 0;
        color: #777;
      }
      .translated-to {
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        color: #4a4a4a;
      }
    }

    .close-icon {
      position: absolute;
      top: 4px;
      right: 4px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
