$primary: #ff1791;
$primary-light: #FFADBF;
$primary-light-md: #FF6385;
$primary-md: #C40067;
$secondary: #2f2e41;
$tertiary: #04B300;
$fourthprimary: #27BBCC;
$lightgold: #FFE630;
$gold: #FFD300;
$white: white;
$whynotusewhite: #fcfcfc;
$prettymuchwhite: #f7f7f7;
$offwhite: #f2f2f2;
$lightest: #e5e5e5;
$lighter: #cccccc;
$light: #767676;
$dark: #4a4a4a;
$darkest: #171919;
$error: #d30000;
$success: #96b603;
$fb-blue: #4267B2;
$twitter-blue: #1DA1F2;
$secondary-opaque: rgba(47,46,65,0.9);
