@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap&subset=latin-ext');

$font-size-xxxl: 38px;
$font-size-xxl: 32px;
$font-size-xl: 24px;
$font-size-l: 18px;
$font-size-ml: 16px;
$font-size-m: 14px;
$font-size-s: 12px;
$font-size-xs: 8px;

$font-header: 'DM Sans', sans-serif;
$font-primary: 'DM Sans', sans-serif !important;
